:root {
	--main-color: white;
	--second-color: var(--anotherblue);
	--third-color: #7fd7ff;
	--codebg: #2d2d2d;
	--mygrey: #2c3e50;
	--myorange: #f2bf7e;
	--peach: #efbaa1;
	--anotherblue: #4882b6;
	--mymint: #c1f0db;
	--darktomint: #475e74;
	--myblue: #5da2d6;
	--mydarkerblue: #286c9f;
	--light-blue: #c2dcf0;
}

/* ----------- HTML tag stylings ---------- */

html,
body {
	margin: 0;
	font-family: Tenor Sans, sans-serif;
	/* font-family: monaco, Consolas, Lucida Console, monospace; */
}

header {
	padding: 5rem;
	background-image: url(./Logo/Vector\ 1.svg);
	background-size: cover;
}

header h1 {
	text-align: center;
	color: var(--main-color);
	font-size: 3.5rem;
}
header ul {
	list-style: none;
}

main {
	font-size: 1.2rem;
	max-width: 70rem;
	margin: auto auto;
	padding-top: 4rem;
}

h1 {
	color: var(--mygrey);
}

h2 {
	color: var(--mygrey);
	font-size: 2rem;
}

table,
th,
td {
	border: 1px solid;
}

th,
td {
	padding: 1rem;
}

section {
	margin-bottom: 3rem;
}

a {
	text-decoration: underline;
	color: black;
}

footer {
	font-size: x-small;
	text-align: center;
	padding: 1rem 0 1rem;
	background-color: var(--main-color);
	border-radius: 2rem 2rem 0 0;
}

hr {
	color: lightgrey;
}

/* ---------- General --------- */
.center {
	margin: auto;
	text-align: center;
}

.contentbox {
	padding: 1rem 3rem 2rem;
	margin: auto auto;
	margin-bottom: 1rem;
}

.arrow {
	position: absolute;
	border-bottom-style: solid;
	border-right-style: solid;
	transform: rotate(45deg);
	width: 3rem;
	height: 3rem;
	left: 49%;
	bottom: 7%;
	color: white;
}

/* -------- Landingpage ---------- */

.landingpage {
	height: 100vh;
	margin: 0;
	padding: 0;
	/* background-color: var(--second-color); */
}

.landing-bg {
	background-image: url(./Logo/Group\ 7.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
}

.landingpage .fancy-button {
	color: var(--second-color);
	border-color: var(--second-color);
}

.myname {
	position: absolute;
	/* transform: translate(-50%, -50%); */
	left: 10%;
	top: 36%;
	color: var(--main-color);
	font-size: 5rem;
	transform: rotate(-25deg);
}

.landing-links-container {
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 2rem;
}

.landing-icons-container {
	position: absolute;
	left: 76%;
	top: 74%;
	display: flex;
}

.landing-icons a {
	margin: 0 2rem;
}

.fab {
	color: var(--main-color);
}

.fab:hover {
	color: var(--third-color);
}

.flex-container-holy {
	display: flex;
	justify-content: center;
	margin: 0 3rem 0;
}

/* ----------- Paper  -------------- */

.paper-container {
	display: grid;
	grid-template-columns: 1fr 3fr;
	/* grid-template-rows: auto; */
}

.paper-pic {
	margin: auto;
	text-align: center;
}

.paper-pic i {
	color: #c94526;
}

.paper-desc {
	text-align: justify;
	margin-top: 2rem;
}

.paper {
	text-align: justify;
}

.paper img {
	width: 40rem;
	background-color: var(--codebg);
	padding: 2rem;
	border-radius: 0.8rem;
}

.sidebyside {
	display: flex;
	justify-content: space-around;
}

/* ----------- Summaries  ------------ */

.summary {
	margin: auto auto;
	margin-bottom: 4rem;
}

.note {
	text-align: center;
	color: grey;
	margin-top: -2.5rem;
	margin-bottom: 4rem;
}

/* ----------- Buttons  -------------- */

.fancy-button {
	border: 2px solid #999999;
	min-width: 12rem;
	height: 4rem;
	text-transform: uppercase;
	background-color: transparent;
	cursor: pointer;
}

.fancy-button:hover {
	color: var(--main-color);
	background-color: var(--second-color);
	border-color: var(--second-color);
}

header .fancy-button {
	border-color: var(--main-color);
	color: var(--main-color);
}

header .fancy-button:hover {
	border-color: var(--main-color);
	background-color: var(--main-color);
	color: var(--second-color);
}

.button-group {
	display: flex;
	flex-wrap: wrap;
	margin: 2rem 1rem;
	justify-content: center;
}

.button-group button {
	margin: 0.8rem;
	align-content: center;
}

@media screen and (max-width: 2020px) {
	.myname {
		position: absolute;
		left:11%;
		top: 30%;
		font-size: 3.7rem;
	}
}

/* Extra large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {
	.myname {
		position: absolute;
		left: 7%;
		top: 22%;
		font-size: 3.7rem;
	}
}

/* Large devices (desktops, 992px and down) */
@media screen and (max-width: 992px) {
	.myname {
		position: absolute;
		left: 4%;
		top: 14%;
	}

	.landing-icons-container {
		position: absolute;
		left: 53%;
		top: 81%;
		display: flex;
	}
}

/* Medium devices (tablets, 768px and down) */
@media (max-width: 768px) {
	.paper-container {
		display: flex;
		flex-direction: column;
	}

	.paper-pic {
		flex: 1;
	}

	.paper-desc {
		flex: 2;
	}

	.myname {
		position: absolute;
		left: 3%;
		top: 15%;
		color: var(--main-color);
		font-size: 3.7rem;
		transform: rotate(-25deg);
	}
}

/* Small devices (landscape phones, 576px and down) */
@media screen and (max-width: 576px) {
	.myname {
		left: 4%;
		top: 8%;
		font-size: 2.8rem;
	}

	.fancy-button {
		height: 3rem;
		min-width: 11rem;
	}

	header {
		padding: 2rem;
	}
	header h1 {
		font-size: 2rem;
	}
	main {
		font-size: 1rem;
		padding-top: 0;
	}

	.contentbox {
		padding: 0.5rem 1rem 1rem;
		margin: auto auto;
		margin-bottom: 1rem;
	}

	.paper-desc h2 {
		text-align: left;
	}

	.paper-pic {
		display: none;
	}

	.landing-icons-container {
		display: flex;
		position: absolute;
		left: 27%;
		top: 81%;
	}

	.landing-links-container {
		margin: 0;
	}
}
