.nav-container-full {
	display: flex;
	height: 100%;
}

.nav-container-vh {
	display: flex;
	height: 100vh;
}

.nav-container-full main, .nav-container-vh main {
	overflow-y: auto;
}

.nav-container-full > nav, .nav-container-vh > nav {
	background-color: #f3f3f3;
	padding: 0.3rem 2.5rem;
	white-space: nowrap;
}

.nav-container-full nav a, .nav-container-vh nav a {
	text-decoration: none;
	font-size: 1.3rem;
	color: #818181;
	display: block;
}

.nav-container-full nav a:hover, .nav-container-vh nav a:hover {
	color: var(--second-color);
}

.nav-container-vh .scroll {
	overflow-y: auto;
}

#sidenav-burger {
	font-size: 2rem;
	margin: 1rem;
	cursor: pointer;
	display: none;
}

#sidenav-close {
	display: none;
	text-align: right;
	font-size: larger;
	cursor: pointer;
	padding: 0.5rem;
}

/* Medium devices (tablets, 768px and down) */

@media (max-width: 768px) {
	#sidenav-burger {
		display: block;
	}
	#sidenav-close {
		display: block;
	}
	#we-sidenav {
		display: none;
	}
}
