.nav-container-full {
	display: flex;
	height: 100%;
}

.nav-container-vh {
	display: flex;
	height: 100vh;
}

.nav-container-full main, .nav-container-vh main {
	overflow-y: auto;
	align-self: center;
}

.nav-container-full nav, .nav-container-vh nav {
	background-color: #f3f3f3;
	padding: 0.3rem 2.5rem;
}

.nav-container-full nav a, .nav-container-vh nav a {
	text-decoration: none;
	font-size: 1.3rem;
	color: #818181;
	display: block;
}

.nav-container-full nav a:hover, .nav-container-vh nav a:hover {
	color: var(--second-color);
}

.nav-container-vh .scroll {
	overflow-y: scroll;
}