/* ----------- presentation  ------------ */

.presentation-container {
	display: flex;
	margin-bottom: 3rem;
	align-items: center;
}

.presentation-preview img{
	width: 35rem;
	box-shadow: -2px 7px 15px 0px rgba(50, 50, 50, 0.77);
	transition: transform .2s; 
}

.pres-text {
	margin-left: 4rem;
}

.presentation-preview img:hover {
	transform: scale(1.05);
}


/* Medium devices (tablets, 768px and down) */
@media (max-width: 768px) {

	.presentation-container {
		flex-direction: column-reverse;
	}
}

/* Small devices (landscape phones, 576px and down) */
@media screen and (max-width: 576px) {

	.presentation-preview img{
		width: 19rem;
	}
}

